:root {
  --lgBaton: 5em;
  --milgBaton: calc(var(--lgBaton) / 2);
  --lBaton: 1em;
  --diametre: 0.5em;
  --nbSurface: 8;
  --bgCSurface: rgb(255, 133, 133);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #555555;
  color: whitesmoke;
  padding: 2em;
  overflow: hidden;
}

.robot {
  position: absolute;
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
  margin-top: -100px;
  padding: 25px;
}

.robot::before, .robot::after {
  content: "";
  position: absolute;
  background-color: #85323a;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.robot::before {
  z-index: 1;
  width: 100%;
  height: 36%;
  bottom: -60%;
  left: 50%;
  border-top: 10px dotted greenyellow;
  -webkit-clip-path: polygon(0 47%, 9% 23%, 23% 46%, 38% 28%, 40% 51%, 47% 19%, 58% 53%, 60% 16%, 72% 37%, 78% 24%, 86% 46%, 95% 30%, 100% 52%, 100% 100%, 0 99%);
          clip-path: polygon(0 47%, 9% 23%, 23% 46%, 38% 28%, 40% 51%, 47% 19%, 58% 53%, 60% 16%, 72% 37%, 78% 24%, 86% 46%, 95% 30%, 100% 52%, 100% 100%, 0 99%);
}

.robot::after {
  z-index: -1;
  width: 200%;
  height: 200%;
  bottom: 0;
  top: 100%;
  left: 50%;
  -webkit-clip-path: polygon(89% 14%, 62% 24%, 54% 2%, 46% 24%, 14% 16%, 19% 39%, 6% 39%, 21% 61%, 6% 78%, 28% 79%, 19% 95%, 48% 84%, 66% 98%, 84% 83%, 98% 80%, 85% 65%, 98% 57%, 83% 47%, 97% 31%, 79% 29%);
          clip-path: polygon(89% 14%, 62% 24%, 54% 2%, 46% 24%, 14% 16%, 19% 39%, 6% 39%, 21% 61%, 6% 78%, 28% 79%, 19% 95%, 48% 84%, 66% 98%, 84% 83%, 98% 80%, 85% 65%, 98% 57%, 83% 47%, 97% 31%, 79% 29%);
}

.robot:hover .body,
.robot:hover .head {
  background-color: #8b3a3a;
}

.robot:hover .eyes .eye:first-child::after {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.robot:hover .eyes .eye:nth-child(2)::after {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.robot .body,
.robot .head {
  position: relative;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  border-radius: 1.5em 1.5em 0 0;
  background-color: #919191;
  -webkit-box-shadow: inset 10px 10px 30px black, inset -10px -5px 30px white, 3px 3px 20px black;
          box-shadow: inset 10px 10px 30px black, inset -10px -5px 30px white, 3px 3px 20px black;
}

.robot .head {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  border: gray;
  left: 25%;
  top: 0;
  width: 50%;
  height: 50%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.robot .head:hover {
  -webkit-animation: headAngry 1s ease-out 0s 1;
          animation: headAngry 1s ease-out 0s 1;
}

.robot .head .eyes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}

.robot .head .eyes .eye {
  position: relative;
  width: 70%;
  height: 70%;
  top: 10%;
  padding: 10%;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: inset 1px 1px 3px black, inset -1px -1px 3px white;
          box-shadow: inset 1px 1px 3px black, inset -1px -1px 3px white;
  overflow: hidden;
}

.robot .head .eyes .eye::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  background-color: grey;
  top: -80%;
  left: -25%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: eyelid 5s ease-in 6s infinite;
          animation: eyelid 5s ease-in 6s infinite;
}

.robot .head .eyes .eye .retina {
  position: relative;
  width: 5px;
  height: 5px;
  left: 45%;
  background-color: red;
}

.robot .body {
  left: 0;
  width: 100%;
  height: 100%;
}

.rocket {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rocket > * {
  -webkit-box-shadow: inset 1px 0px 2px #460b0b, inset 2px 0px 5px #460b0b, inset -1px 0px 2px #460b0b;
          box-shadow: inset 1px 0px 2px #460b0b, inset 2px 0px 5px #460b0b, inset -1px 0px 2px #460b0b;
  position: relative;
  background-color: #969696;
}

.rocket .main {
  background-color: blue;
  width: 20px;
  height: 15px;
  -webkit-filter: hue-rotate(30%);
          filter: hue-rotate(30%);
  border-radius: 0 0 4px 4px;
}

.rocket .lead {
  border-radius: 50% 50% 0 0;
  width: 20px;
  height: 40px;
}

.rocket .tail,
.rocket .blast,
.rocket .blast2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
}

.rocket .tail {
  width: 40px;
  height: 15px;
  background-color: #9b9b9b;
  -webkit-clip-path: polygon(30% 0, 70% 0, 100% 100%, 0 100%);
          clip-path: polygon(30% 0, 70% 0, 100% 100%, 0 100%);
}

.rocket .blast,
.rocket .blast2 {
  position: absolute;
  top: calc(100%);
  border-color: transparent;
  border-style: solid;
}

.rocket .blast {
  border-width: 10px;
  border-top: 15px solid red;
  -webkit-animation: blasting 2s linear 0s infinite alternate;
          animation: blasting 2s linear 0s infinite alternate;
}

.rocket .blast2 {
  border-width: 5px;
  border-top: 25px solid yellow;
  -webkit-animation: blasting2 0.5s linear 0s infinite alternate;
          animation: blasting2 0.5s linear 0s infinite alternate;
}

@-webkit-keyframes blasting {
  0% {
    border-top: 10px solid red;
  }
  50% {
    border-top: 15px solid red;
  }
  100% {
    border-top: 10px solid red;
  }
}

@keyframes blasting {
  0% {
    border-top: 10px solid red;
  }
  50% {
    border-top: 15px solid red;
  }
  100% {
    border-top: 10px solid red;
  }
}

@-webkit-keyframes blasting2 {
  0% {
    border-top: 5px solid yellow;
  }
  50% {
    border-top: 10px solid yellow;
  }
  100% {
    border-top: 5px solid yellow;
  }
}

@keyframes blasting2 {
  0% {
    border-top: 5px solid yellow;
  }
  50% {
    border-top: 10px solid yellow;
  }
  100% {
    border-top: 5px solid yellow;
  }
}

@-webkit-keyframes eyelid {
  0% {
    top: -80%;
  }
  45% {
    top: -80%;
  }
  50% {
    top: 0%;
  }
  55% {
    top: -80%;
  }
  100% {
    top: -80%;
  }
}

@keyframes eyelid {
  0% {
    top: -80%;
  }
  45% {
    top: -80%;
  }
  50% {
    top: 0%;
  }
  55% {
    top: -80%;
  }
  100% {
    top: -80%;
  }
}

@-webkit-keyframes headAngry {
  0% {
    top: 0%;
  }
  45% {
    top: 10%;
  }
  50% {
    top: 20%;
  }
  55% {
    top: 0%;
  }
  100% {
    top: 0%;
  }
}

@keyframes headAngry {
  0% {
    top: 0%;
  }
  45% {
    top: 10%;
  }
  50% {
    top: 20%;
  }
  55% {
    top: 0%;
  }
  100% {
    top: 0%;
  }
}

.batonnee {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 10% 30% max-content auto;
      grid-template-rows: 10% 30% -webkit-max-content auto;
      grid-template-rows: 10% 30% max-content auto;
      grid-template-areas: "titre titre" "joueur1 joueur2" "btn-commencer btn-commencer" "plateforme plateforme";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (max-width: 400px) {
  .batonnee {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (20%)[3] auto;
        grid-template-rows: repeat(3, 20%) auto;
        grid-template-areas: "titre" "joueur1" "joueur2" "plateforme";
  }
}

.batonnee h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titre;
}

.batonnee .ifj1,
.batonnee .ifj2 {
  background-color: rgba(255, 255, 255, 0.068);
  padding: 1em;
  border-radius: 1em;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.batonnee .ifj1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: joueur1;
}

.batonnee .ifj1.actif {
  background-color: rgba(255, 255, 255, 0.199);
  border: 2px solid red;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.batonnee .ifj2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: joueur2;
}

.batonnee .ifj2.actif {
  background-color: rgba(255, 255, 255, 0.199);
  border: 2px solid blue;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.batonnee button.commencer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: btn-commencer;
}

.batonnee .plateforme {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: plateforme;
  width: 80%;
  height: auto;
}

.batonnee .batons {
  position: relative;
  background-color: teal;
  height: 100%;
  padding: 2em;
  border-radius: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(1em, 30px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(1em, 30px));
  grid-gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(500px) rotateX(20deg);
          transform: perspective(500px) rotateX(20deg);
}

.batonnee .batons > .baton.flat {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: red;
  border-radius: 30px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-box-shadow: 0 5px 5px #2c0000, inset 5px 0 5px #ffc4c4, inset -4px 0 5px #8a0000;
          box-shadow: 0 5px 5px #2c0000, inset 5px 0 5px #ffc4c4, inset -4px 0 5px #8a0000;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  overflow: hidden;
}

.batonnee .batons > .baton.flat:hover {
  -webkit-transform: translateZ(5px);
          transform: translateZ(5px);
  -webkit-box-shadow: 0 10px 10px #2c0000, inset 5px 0 5px #ffc4c4, inset -4px 0 5px #8a0000;
          box-shadow: 0 10px 10px #2c0000, inset 5px 0 5px #ffc4c4, inset -4px 0 5px #8a0000;
}

.batonnee .batons > .baton.flat::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 100%;
  top: 75%;
  left: 0;
  background: -webkit-gradient(linear, left bottom, right top, from(#960000), to(#914d4d));
  background: linear-gradient(to top right, #960000, #914d4d);
  -webkit-box-shadow: -2px -2px 2px #ffc4c4, -10px 20px 2px black, inset 1px 1px 1px #ffc4c4, inset -1px -1px 2px #6b5151;
          box-shadow: -2px -2px 2px #ffc4c4, -10px 20px 2px black, inset 1px 1px 1px #ffc4c4, inset -1px -1px 2px #6b5151;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.batonnee .batons div.baton.aff3d {
  display: block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: translateZ(20px) rotate3d(1, 0.5, 0, -0.23turn);
          transform: translateZ(20px) rotate3d(1, 0.5, 0, -0.23turn);
  height: var(--lBaton);
  width: var(--lBaton);
  border-radius: 50%;
  padding: 2em;
}

.batonnee .batons div.baton.aff3d > .surface {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: var(--bgCSurface);
  height: var(--lgBaton);
  width: calc(3.1415 * var(--lBaton) / 4);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}

.batonnee .batons div.baton.aff3d > .surface:first-child {
  background-color: rgba(255, 0, 0, 0.562);
  height: var(--lBaton);
  width: var(--lBaton);
  -webkit-transform: translate3d(-50%, -50%, var(--milgBaton));
          transform: translate3d(-50%, -50%, var(--milgBaton));
}

.batonnee .batons div.baton.aff3d > .surface:last-child {
  background-color: transparent;
  height: var(--lBaton);
  width: var(--lBaton);
  -webkit-transform: translate3d(-50%, -50%, calc(var(--milgBaton) * -1));
          transform: translate3d(-50%, -50%, calc(var(--milgBaton) * -1));
}

.batonnee .batons div.baton.aff3d > .surface:nth-of-type(2) {
  -webkit-filter: hue-rotate(90deg);
          filter: hue-rotate(90deg);
  -webkit-transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(90deg) translateZ(var(--diametre));
          transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(90deg) translateZ(var(--diametre));
}

.batonnee .batons div.baton.aff3d > .surface:nth-of-type(3) {
  -webkit-filter: hue-rotate(135deg);
          filter: hue-rotate(135deg);
  -webkit-transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(135deg) translateZ(var(--diametre));
          transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(135deg) translateZ(var(--diametre));
}

.batonnee .batons div.baton.aff3d > .surface:nth-of-type(4) {
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
  -webkit-transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(180deg) translateZ(var(--diametre));
          transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(180deg) translateZ(var(--diametre));
}

.batonnee .batons div.baton.aff3d > .surface:nth-of-type(5) {
  -webkit-filter: hue-rotate(225deg);
          filter: hue-rotate(225deg);
  -webkit-transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(225deg) translateZ(var(--diametre));
          transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(225deg) translateZ(var(--diametre));
}

.batonnee .batons div.baton.aff3d > .surface:nth-of-type(6) {
  -webkit-filter: hue-rotate(270deg);
          filter: hue-rotate(270deg);
  -webkit-transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(270deg) translateZ(var(--diametre));
          transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(270deg) translateZ(var(--diametre));
}

.batonnee .batons div.baton.aff3d > .surface:nth-of-type(7) {
  -webkit-filter: hue-rotate(315deg);
          filter: hue-rotate(315deg);
  -webkit-transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(315deg) translateZ(var(--diametre));
          transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(315deg) translateZ(var(--diametre));
}

.batonnee .batons div.baton.aff3d > .surface:nth-of-type(8) {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(360deg) translateZ(var(--diametre));
          transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(360deg) translateZ(var(--diametre));
}

.batonnee .batons div.baton.aff3d > .surface:nth-of-type(9) {
  -webkit-filter: hue-rotate(405deg);
          filter: hue-rotate(405deg);
  -webkit-transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(405deg) translateZ(var(--diametre));
          transform: translate3d(-50%, 0, calc(var(--milgBaton) * -1)) rotateX(0.25turn) rotateY(405deg) translateZ(var(--diametre));
}

.batonnee .batons div.baton.aff3d:hover {
  -webkit-transform: translateZ(50px) rotate3d(1, 0.3, 0, -0.3turn) rotate(300deg);
          transform: translateZ(50px) rotate3d(1, 0.3, 0, -0.3turn) rotate(300deg);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.batonnee section.initialiseur {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #676767;
  border-radius: 1em;
  padding: 1em;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.batonnee section.initialiseur input[type="checkbox"] ~ span {
  padding: 0.5em;
  border-radius: 1em;
  background-color: #555555;
}

.batonnee section.initialiseur input[type="checkbox"]:checked ~ span {
  background-color: #3f3a8a;
  color: red;
}

.batonnee aside {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translateZ(-30px) rotate3d(1, 0.3, 0.2, -0.3turn) rotate(0deg);
            transform: translateZ(-30px) rotate3d(1, 0.3, 0.2, -0.3turn) rotate(0deg);
  }
  100% {
    -webkit-transform: translateZ(-30px) rotate3d(1, 0.3, 0.2, -0.3turn) rotate(360deg);
            transform: translateZ(-30px) rotate3d(1, 0.3, 0.2, -0.3turn) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translateZ(-30px) rotate3d(1, 0.3, 0.2, -0.3turn) rotate(0deg);
            transform: translateZ(-30px) rotate3d(1, 0.3, 0.2, -0.3turn) rotate(0deg);
  }
  100% {
    -webkit-transform: translateZ(-30px) rotate3d(1, 0.3, 0.2, -0.3turn) rotate(360deg);
            transform: translateZ(-30px) rotate3d(1, 0.3, 0.2, -0.3turn) rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */